# Telegram OpenID Connect
TELEGRAM_CLIENT_ID=YourID
TELEGRAM_CLIENT_SECRET=YourSecret
TELEGRAM_REDIRECT_URI=http://186.246.10.192:8001/auth/callback
TELEGRAM_PROXY=http://host.docker.internal:10809

# Настройки сервиса
SERVICE_NAME=auth-service
PORT=8000
ENVIRONMENT=development

# Безопасность (придумайте свою соль)
HASH_SALT=YourSalt

# API Gateway (еще не готов)
GATEWAY_URL=http://186.246.10.192:8001
GATEWAY_MOCK_MODE=false