# Telegram OpenID Connect
TELEGRAM_CLIENT_ID=YourID
TELEGRAM_CLIENT_SECRET=YourSecret
TELEGRAM_REDIRECT_URI=http://127.0.0.1:8000/auth/callback

# Настройки сервиса
SERVICE_NAME=auth-service
PORT=8000
ENVIRONMENT=development

# Безопасность (придумайте свою соль)
HASH_SALT=YourSalt

# API Gateway (еще не готов)
GATEWAY_URL=http://fake-gateway-for-testing
GATEWAY_MOCK_MODE=true