
TELEGRAM_CLIENT_ID=your_id
TELEGRAM_CLIENT_SECRET=your_secret
TELEGRAM_REDIRECT_URI=http://62.113.41.127:8001/auth/auth/callback
TELEGRAM_PROXY=
#TELEGRAM_PROXY=http://host.docker.internal:10809


SERVICE_NAME=auth-service
PORT=8000
ENVIRONMENT=development

HASH_SALT=your_salt

GATEWAY_URL=http://62.113.41.127:8001
GATEWAY_MOCK_MODE=False
